#welcome-section {
    height: 100vh;
}

body {
  background-color: azure;
}

nav {
  background-color: #d1e1ff;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}
#navbar li {
  padding: 18px;
}