#welcome-section {
    height: 100vh;
}

body {
  background-color: azure;
}

nav {
  background-color: #d1e1ff;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul li a {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Lobster Two', cursive;
  /* font-family: 'Thasadith', sans-serif; */
}

#navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}
#navbar li {
  padding: 18px;
}

#projects {
  font-family: 'Lobster', cursive;
} 